<h1>Admin Dashboard</h1>

<ul class="list-group">
   <li class="list-group-item"><%= link_to "Products", admin_products_path%><span class="badge"><%=@product_count%></span></li>
  <li class="list-group-item"><%= link_to "Categories", admin_products_path%><span class="badge"><%=@cat_count%></span></li>
</ul>
