<h1>Admin Dashboard</h1>

<div class="list-group">
  <button type="button" class="list-group-item"><h4><%= link_to "Products: #{@product_count}", admin_products_path%></h4></button>
  <button type="button" class="list-group-item"><h4><%= link_to "Categories: #{@cat_count}", admin_products_path%></h4></button>
</div>
