<h1>About Us</h1>

<h2><small>Hello, and welcome to the store. You'll find many unique items to purchase here. Check back often, as we are always updating our inventory. Thanks for stopping by!</small></h2>

<h3>Contact us </h3>
<h3><small>12345 Main Street, Vancouver, BC
<br>604-321-1234<h3><small>
